* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.potions-heading {
  margin-top: 50px;
}

.teacher-card {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin: 50px 0;
  gap: 15px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.position-container {
  position: relative;
}

.teacher-card > p {
  font-weight: bold;
}

.start-class-btn {
  max-width: 325px;
  padding: 16px 25px;
}

.delete-student-btn {
  padding: 10px 25px;
}

.start-class-btn,
.delete-student-btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
}

.bubble-container {
  position: absolute;
  right: 225px;
  top: 6px;
}

.talking-bubble {
  width: 250px;
  height: 230px;
  transform: rotate(-12deg);
}

.spell {
  right: 120px;
  bottom: 240px;
  max-width: 250px;
  position: relative;
  bottom: 150px;
  left: 50px;
}

.pupils-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 50px 0;
}

.student-container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.student-container > p {
  font-weight: bold;
}

.student-img {
  width: 180px;
  height: 227px;
  object-fit: cover;
}

.container-hidden {
  display: none;
}
