main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teacher-card {
  background-color: rgb(242, 242, 242);
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin-top: 50px;
}

.start-class-btn {
  max-width: 325px;
}

.bubble-container {
  position: absolute;
}

.bubble-container-hidden {
  display: none;
}

.talking-bubble {
  width: 250px;
  height: 230px;
  position: relative;
  right: 180px;
  bottom: 80px;
  transform: rotate(-12deg);
}

.spell {
  position: relative;
  right: 120px;
  bottom: 240px;
  max-width: 250px;
}

.pupils-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.student-container {
  background-color: rgb(242, 242, 242);
}

.student-img {
  width: 180px;
  height: 227px;
}
