* {
    padding: 0;
    margin: 0;
  
}
body{
  font-family: fantasy;
  background: rgb(151, 139, 139);
}
.main-container{
 text-align: center;
 color: rgb(85, 85, 16)
}
.inner-container{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
img{
  width: 300px;
}
img:hover{
  background-color: rgb(160, 155, 79);
}
/* endres etterhvert. hoover effekt*/
.gryffindor-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: auto;
  text-align: center;
  margin: 15px;
  padding: 55px;
  transition: 2.3s;
}
/* Fikse styling */

/*styling for js fil*/


